
body {
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-family: 'STIX Two Math', serif;
}

#header{
    text-align: center;
    padding-top: 30px; 
}

a {
    text-decoration: none;
}


#text-1 {
    text-align: center;
}



#figure{
    background-color: white;
    margin: 5px;
    padding: 10px;
}


#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

#caption {
    margin: 15px 0 5px 0;
    text-align: center;

}

h3 {
    text-align: center;
    padding: 5px;
    margin: 40px 0 40px 10px;
}

ul {
    margin: 0 auto 50px auto;
    max-width: 550px;
    text-align: left;
    line-height: 1.6;
}


li {
    margin: 16px 0;
  }

.text-2 {
    margin: 0 auto 50px auto;
    max-width: 550px;

}



blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  
